.hero {
  max-width: 900px;
}

.headerImage {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
  & img {
    width: 100% !important;
    max-height: 25rem !important;
    border-radius: 0.75rem;
    overflow: hidden;
    margin: auto;
  }
}

.date {
  text-transform: uppercase;
  color: var(--cloud, #86c8f6) !important;
}

.caption {
  font-size: 1rem !important;
  font-weight: 400 !important;
  color: var(--cloud, #86c8f6) !important;
}

.credits {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  align-self: stretch;
}

.author {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1.375rem;
}

.authorImage {
  width: 5rem;
  height: 5rem;
  border-radius: 14.375rem;
}

.authorInfo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.authorName {
  font-weight: 700;
}

.body {
  max-width: 800px;
  display: flex;
  flex-direction: column;
  gap: 5rem;
}
