.sectionWrapperRow {
  max-width: 1000px;
  margin: auto;
  padding: 5rem 1rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 1.5rem;

  @media (min-width: 1024px) {
    padding: 7.5rem 12rem;
  }

  @media (min-width: 640px) {
    padding: 6rem;
    flex-direction: row;
  }

  & h3 {
    color: var(--Teal, #018852);
  }
}

.image {
  width: 100%;
  flex: 1;
  margin: auto;
  max-width: 340px;
}

.list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  align-items: flex-start;
  flex-wrap: wrap;

  @media (min-width: 1024px) {
    display: flex;
    flex-direction: row;
  }

  @media (max-width: 1024px) {
    & > li {
      width: 100%;
    }
  }
}
