.article {
  display: flex;
  overflow: hidden;
  padding: 3.75rem 2rem;

  /* side-padding is set to 0 for scrollable tablist */
  padding: 5rem 0;

  @media (min-width: 1024px) {
    align-items: center;
    padding: 5rem 8.75rem;
  }
}

.wrapper {
  width: 100%;
  max-width: 1200px;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  align-items: center;

  @media (min-width: 1024px) {
    gap: 3.5rem;
    flex-direction: row;
  }
}

.content {
  flex: 1;
  display: flex;
  flex-direction: column;
  max-width: 75rem;
  gap: 2rem;

  /* side-padding is added to title and content */
  padding-inline: 2rem;
}

.text {
  display: grid;
  gap: 1.375rem;
}

.desktopCta {
  @media (max-width: 1024px) {
    display: none;
  }
}

.mobileCta {
  @media (min-width: 1024px) {
    display: none;
  }
}

.list {
  margin: 0;
  padding: 0;
  flex: 1;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  gap: 1rem;
  align-self: stretch;

  @media (min-width: 1024px) {
    flex-direction: column;
  }

  @media (max-width: 1024px) {
    padding-left: 2rem;
    padding-top: 4px;
    padding-bottom: 8px;
    overflow-x: auto;
    scrollbar-width: none; /* Firefox */
    /* Hide scrollbar for Chrome, Safari and Opera */
    &::-webkit-scrollbar {
      display: none;
    }
  }
}

.item {
  display: flex;
  box-sizing: border-box;
  max-height: 15rem;
  padding: 1.25rem 1rem 1rem 1rem;
  align-items: center;
  gap: 1rem;
  flex: 1 0 0;

  /* Shadow/600 */
  box-shadow:
    0px 8px 18px -6px rgba(12, 153, 253, 0.12),
    0px 12px 42px -4px rgba(12, 153, 253, 0.12);

  @media (max-width: 1024px) {
    min-width: 18.75rem;
    max-width: 21.25rem;
  }
}

.quotationMark {
  width: 1.209rem;
  height: 0.81rem;
  background-image: url("/_assets/quotation-mark.svg");
}

.listContent {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 0.25rem;
  & span {
    font-weight: 700;
  }
}

.avatar {
  width: 5rem;
  height: 5rem;
  border-radius: 14.375rem;
  overflow: hidden;

  @media (min-width: 1024px) {
    width: 5rem;
    height: 5rem;
    flex-shrink: 0;
  }
}
