.sectionWrapperRow {
  max-width: 1000px;
  margin: auto;
  padding: 5rem 1rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: var(--Spacing-XL, 3rem);

  @media (min-width: 1024px) {
    padding: 7.5rem 12rem;
  }

  @media (min-width: 640px) {
    padding: 6rem;
    flex-direction: row;
  }
}

.error {
  min-width: 1000px;
  max-width: 62.5rem;
  display: flex;
  padding: 3rem;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1.5rem;
  align-self: stretch;

  border-radius: 1rem;
  border: 2px solid var(--sky);
}

.buttonWrapper {
  display: flex;
  align-items: flex-start;
  gap: 1.5rem;
}

.imageWrapper {
  flex: 1;
  margin: auto;
  max-width: 340px;
}

.PMDDError {
  flex: 2;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: var(--Spacing-S, 1rem);
  align-self: stretch;
}
