.hero {
  display: flex;
  justify-content: center;
  align-items: center;
}

.content {
  display: flex;
  flex-direction: column;
  gap: 1rem;

  @media (min-width: 640px) {
    flex-direction: row;
    gap: 3.25rem;
  }

  @media (min-width: 1040px) {
    gap: 3.5rem;
  }
}

.image {
  margin: auto;
  max-width: 400px;
}

.imagePositionAlwaysLeftOnMobile {
  @media (min-width: 640px) {
    flex-direction: row-reverse;
  }
}

.column {
  display: flex;
  flex-direction: column;
  align-self: stretch;
  justify-content: center;
  gap: 1.5rem;
  @media (min-width: 640px) {
    flex: 2;
  }
}

.text {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 0.75rem;
  align-self: stretch;
}

.cta {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.5rem;
  width: 100%;
  margin: 0;
  padding: 0;
  list-style-type: none;

  @media (min-width: 640px) {
    flex-direction: row;
    justify-content: flex-start;
  }

  & > li {
    @media (max-width: 640px) {
      width: 100%;
    }
  }
}
.sectionWrapperRow {
  max-width: 1000px;
  margin: auto;
  padding: 5rem 1rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: var(--Spacing-XL, 3rem);

  @media (min-width: 640px) {
    padding: 6rem;
    flex-direction: row;
  }

  @media (min-width: 1024px) {
    padding: 7.5rem 12rem;
  }
}
