.display,
.h1,
.h2 {
  color: var(--GreenElliott);
  font-family: var(--font-pollerOne);
  line-height: 110%;
  @media (min-width: 1024px) {
    line-height: normal;
  }
}

.h4,
.bodySuperLarge,
.bodyLarge,
.body,
.small,
.caption,
.list {
  color: var(--body-text);
  font-family: var(--font-nunito);
}

.display {
  font-size: 2.25rem;
  line-height: 130%;
  @media (min-width: 640px) {
    font-size: 2.625rem;
  }
  @media (min-width: 1024px) {
    font-size: 3.25rem;
  }
}

.h1 {
  font-size: 2rem;

  @media (min-width: 640px) {
    font-size: 2.25rem;
  }

  @media (min-width: 1024px) {
    font-size: 2.875rem;
  }
}

.h2 {
  font-size: 1.5rem;

  @media (min-width: 1024px) {
    font-size: 1.75rem;
  }

  @media (min-width: 1024px) {
    font-size: 2.25rem;
  }
}

.h3 {
  font-family: var(--font-nunito);
  font-size: 1.188rem;
  font-weight: 650;
  @media (min-width: 640px) {
    font-size: 1.375rem;
  }
  @media (min-width: 1024px) {
    font-size: 1.75rem;
  }
}

.h4 {
  font-family: var(--font-nunito);
  font-size: 1rem;
  font-weight: 600;
  line-height: 100%;

  @media (min-width: 640px) {
    font-size: 1.188rem;
  }
  @media (min-width: 1024px) {
    font-size: 1.375rem;
  }
}

.bodySuperLarge {
  font-size: 1.5rem;
  @media (min-width: 1024px) {
    font-size: 1.875rem;
  }
}

.bodyLarge {
  font-size: 1.0625rem;
  line-height: 140%;
  @media (min-width: 1024px) {
    font-size: 1.1875rem;
  }
  @media (min-width: 1024px) {
    font-size: 1.5rem;
    line-height: 130%;
  }
}

.body {
  font-size: 0.9375rem;
  line-height: 140%;
  @media (min-width: 640px) {
    font-size: 1.0625rem;
  }
  @media (min-width: 1024px) {
    font-size: 1.1875rem;
    line-height: 140%;
  }
}

.small {
  font-size: 0.8125rem;
  line-height: 140%;
  @media (min-width: 640) {
    font-size: 0.9375rem;
  }
  @media (min-width: 1024px) {
    font-size: 1rem;
  }
}

.caption {
  color: var(--GreenElliott);
  font-size: 1.25rem;
  font-weight: 600;
  line-height: 130%;

  @media (min-width: 1024px) {
    font-size: 1.5rem;
  }
}
