.skipLink {
  position: absolute;
  top: -140px;
  left: 0;
  z-index: 100;

  display: flex;
  padding: 0.625rem 1.25rem;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  align-self: stretch;
  background: var(--Background-offshade, #daf2e8);

  text-decoration: none;
  font-family: var(--font-nunito);
  font-size: 1.125rem;
  font-style: normal;
  font-weight: 900;
  letter-spacing: 0.045rem;
  line-height: normal;
  &:focus:focus {
    top: 0;
    position: relative;
  }
}
