.artikkel {
  max-width: 56rem;
  display: flex;
  flex-direction: column;
  gap: 3rem;
}

.artikkel :global(h2) {
  color: var(--Dark-Navy, #001821);
}

.artikkelHero {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: var(--Spacing-M, 1.5rem);
  align-self: stretch;
}

.author {
  display: flex;
  flex-direction: column;
  gap: var(--Spacing-XXS, 0.25rem);
}
