.button {
  box-sizing: border-box;

  cursor: pointer;
  border-radius: 0.625rem;
  max-width: 360px;
  display: inline-flex;
  align-items: center;
  justify-content: space-between;
  gap: 0.375rem;

  border: none;

  padding: 0.5rem 0.875rem;

  /* font styling */
  font-family: var(--font-nunito);
  text-decoration: none;
  font-size: 1rem;
  font-style: normal;
  font-weight: 500;
  line-height: 140%; /* 1.75rem */

  @media (min-width: 640px) {
    text-wrap: nowrap;
    width: 100%;
    padding: 0.625rem 1rem;
    font-size: 1.125rem;
  }

  @media (min-width: 1040px) {
    font-size: 1.25rem;
    padding: 0.625rem 1.125rem;
    justify-content: center;
  }

  &::after {
    width: 1.5rem;
    height: 1.5rem;
    content: "";
    -webkit-mask: url("/_assets/arrow.svg") no-repeat center;
    -webkit-mask-size: cover;
    mask: url("/_assets/arrow.svg") no-repeat center;
    mask-size: cover;
    @media (min-width: 640px) {
      width: 1.375rem;
      height: 1.375rem;
    }
  }
}

.isLoadMore {
  &::after {
    -webkit-mask: url("/_assets/chevron.svg") no-repeat center;
    mask: url("/_assets/chevron.svg") no-repeat center;
  }
}

.large {
  @media (min-width: 640px) {
    padding: 0.75rem 1.5rem;
  }

  @media (min-width: 1040px) {
    padding: 0.875rem 1.625rem;
  }
}

.primary {
  color: var(--Background-main, #eff8f6);
  background: var(--Teal, #018852);
  border: 2pxsolid var(--Teal, #018852);

  &:hover {
    background: var(--ButtonHover, #00613a);
    border-color: var(--ButtonHover, #00613a);
  }

  &:active {
    background: var(--ButtonPressed, #004328);
    border-color: var(--ButtonPressed, #004328);
  }

  &::after {
    background-color: var(--Background-main, #eff8f6);
  }
}

.secondary {
  background-color: var(--Background-main, #eff8f6);

  color: var(--Teal, #018852);
  border: 2px solid var(--Teal, #018852);

  &::after {
    background-color: var(--Teal, #018852);
  }

  &:hover {
    color: var(--ButtonHover, #00613a);
    border-color: var(--ButtonHover, #00613a);
    &::after {
      background-color: var(--ButtonHover, #00613a);
    }
  }

  &:active {
    color: var(--ButtonPressed, #004328);
    border-color: var(--ButtonPressed, #004328);
    &::after {
      background-color: var(--ButtonPressed, #004328);
    }
  }
}
