.button {
  box-sizing: border-box;

  cursor: pointer;
  border-radius: 0.625rem;
  max-width: 360px;
  display: inline-flex;
  align-items: center;
  justify-content: space-between;
  gap: 0.375rem;

  border: none;

  padding: 0.5rem 0.875rem;

  /* font styling */
  font-family: var(--font-nunito);
  text-decoration: none;
  font-size: 1rem;
  font-style: normal;
  font-weight: 600;
  line-height: 140%; /* 1.75rem */

  @media (min-width: 640px) {
    text-wrap: nowrap;
    width: 100%;
    font-size: 1.125rem;
  }

  @media (min-width: 1040px) {
    font-size: 1.25rem;
    justify-content: center;
  }

  &::after {
    width: 1.5rem;
    height: 1.5rem;
    content: "";
    -webkit-mask: url("/_assets/arrow.svg") no-repeat center;
    -webkit-mask-size: cover;
    mask: url("/_assets/arrow.svg") no-repeat center;
    mask-size: cover;
    @media (min-width: 640px) {
      width: 1.375rem;
      height: 1.375rem;
    }
  }
}

.isLoadMore {
  &::after {
    -webkit-mask: url("/_assets/chevron.svg") no-repeat center;
    mask: url("/_assets/chevron.svg") no-repeat center;
  }
}

.primary {
  color: var(--white);
  background: var(--Teal);
  border: 2px solid var(--Teal);

  &:hover {
    background: var(--ButtonHover);
    border-color: var(--ButtonHover);
  }

  &:active {
    background: var(--ButtonPressed);
    border-color: var(--ButtonPressed);
  }

  &::after {
    background-color: var(--Background-main);
  }
}

.secondary {
  background: var(--white);

  color: var(--Teal);
  border: 2px solid var(--Teal);

  &::after {
    background-color: var(--Teal);
  }

  &:hover {
    color: var(--ButtonHover);
    border-color: var(--ButtonHover);
    &::after {
      background-color: var(--ButtonHover);
    }
  }

  &:active {
    color: var(--ButtonPressed);
    border-color: var(--ButtonPressed);
    &::after {
      background-color: var(--ButtonPressed);
    }
  }
}
