.button {
  box-sizing: border-box;
  cursor: pointer;
  max-width: 360px;

  /* Layout */
  display: inline-flex;
  align-items: center;
  justify-content: space-between;
  gap: 0.375rem;

  /* Border */
  border-radius: 0.625rem;
  border: 2px solid;

  /* Base Padding */
  padding: 0.25rem 0.875rem;

  /* Typography */
  font-family: var(--font-nunito);
  font-size: 1rem;
  font-weight: 600;
  line-height: 140%;
  text-decoration: none;
  text-wrap: nowrap;

  @media (max-width: 640px) {
    width: 100%;
  }

  @media (min-width: 640px) {
    font-size: 1.25rem;
    padding: 0.375rem 1rem;
    justify-content: center;
  }

  @media (min-width: 1040px) {
    font-size: 1.5rem;
    padding: 0.375rem 1.125rem;
  }
}

.chevron {
  &::after {
    content: "";
    width: 1.5rem;
    height: 1.5rem;
    -webkit-mask: url("/_assets/chevron.svg") no-repeat center;
    -webkit-mask-size: cover;
    mask: url("/_assets/chevron.svg") no-repeat center;
    mask-size: cover;

    @media (min-width: 640px) {
      width: 1.375rem;
      height: 1.375rem;
    }
  }
}

.large {
  padding: 0.75rem 1.25rem;

  @media (min-width: 640px) {
    padding: 0.75rem 1.5rem;
  }

  @media (min-width: 1040px) {
    padding: 0.875rem 1.625rem;
  }
}

.small {
  font-size: 1.125rem;
  padding: 0.625rem 1.25rem;

  &::after {
    width: 1.25rem;
    height: 1.25rem;
  }
}

.primary {
  background: var(--Teal);
  color: var(--Background-main);
  border-color: var(--Teal);

  &:hover {
    background: var(--ButtonHover);
    border-color: var(--ButtonHover);
  }

  &:active {
    background: var(--ButtonPressed);
    border-color: var(--ButtonPressed);
  }

  &::after {
    background-color: var(--Background-main);
  }
}

.secondary {
  background: white;
  color: var(--Teal);
  border-color: var(--Teal);

  &::after {
    background-color: var(--Teal);
  }

  &:hover {
    color: var(--ButtonHover);
    border-color: var(--ButtonHover);
    &::after {
      background-color: var(--ButtonHover);
    }
  }

  &:active {
    color: var(--ButtonPressed);
    border-color: var(--ButtonPressed);
    &::after {
      background-color: var(--ButtonPressed);
    }
  }
}

.back {
  composes: secondary;

  &::before {
    content: "";
    width: 1.5rem;
    height: 1.5rem;
    -webkit-mask: url("/_assets/arrow-back.svg") no-repeat center;
    background-color: currentColor;
  }
}

.loading {
  &::after {
    -webkit-mask: url("/_assets/spinner.svg") no-repeat center;
    mask: url("/_assets/spinner.svg") no-repeat center;
    animation: rotateSpinner 750ms linear infinite;
  }
}

.isLoadMore {
  &::after {
    transform: rotate(90deg);
  }
}

@keyframes rotateSpinner {
  to {
    transform: rotate(360deg);
  }
}
