.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 3.5rem;
  overflow: hidden;
}

.list {
  display: grid;
  gap: 1rem;
  margin: 0;
  padding: 0;
  list-style: none;
  grid-template-columns: repeat(
    auto-fill,
    minmax(100%, 1fr)
  ); /* Single column by default */

  @media (min-width: 640px) {
    gap: 1.5rem;
    grid-template-columns: repeat(auto-fill, 1fr); /* Up to two columns */
  }

  @media (min-width: 1024px) {
    grid-template-columns: repeat(3, 1fr); /* Up to three columns */
  }

  @media (min-width: 1400px) {
    grid-template-columns: repeat(
      3,
      1fr
    ); /* Still three columns but wider cards */
  }
}
