.wrapper {
  max-width: 850px;
  gap: var(--Spacing-XXL, 3rem);
  margin: auto;
  padding: 5rem 1rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;

  @media (min-width: 1024px) {
    padding: 7.5rem 12rem;
  }
  @media (min-width: 640px) {
    padding: 6rem;
  }
}

.body {
  display: flex;
  flex-direction: column;
  gap: 3rem;
  @media (min-width: 1024px) {
    flex-direction: row;
  }
}

.document {
  flex: 2;
  display: flex;
  flex-direction: column;
  gap: var(--Spacing-XXL, 3rem);
}

.document :global(h2) {
  font-family: var(--font-nunito) !important;
  font-size: 1.188rem !important;
  font-weight: 650 !important;
  @media (min-width: 640px) {
    font-size: 1.375rem !important;
  }
  @media (min-width: 1024px) {
    font-size: 1.75rem !important;
  }
}
.document :global(h3) {
  font-family: var(--font-nunito) !important;
  font-size: 1rem !important;
  font-weight: 600 !important;
  line-height: 100% !important;

  @media (min-width: 640px) {
    font-size: 1.188rem !important;
  }
  @media (min-width: 1024px) {
    font-size: 1.375rem !important;
  }
}
