.sectionWrapperRow {
  max-width: 1000px;
  margin: auto;
  padding: 5rem 1rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: var(--Spacing-XL, 3rem);

  @media (min-width: 1024px) {
    padding: 7.5rem 12rem;
  }

  @media (min-width: 640px) {
    padding: 6rem;
    flex-direction: row;
  }
}

.leftColumn {
  flex: 1;
  display: flex;
  gap: var(--Spacing-XXL, 3rem);
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.intro {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: var(--Spacing-M, 1rem);
  align-self: stretch;
}

.rightColumn {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: var(--Spacing-XL, 3rem);
}

.list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: var(--Spacing-L, 2rem);
  flex: 1 0 0;
}

.item {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: var(--Spacing-XS, 0.5rem);
  align-self: stretch;
}

.image {
  width: 100%;
  max-width: 400px;
}
