.focusOn {
  top: 0;
  z-index: 9999;
  & > header {
    background: var(--Background-main, #eff8f6);
    padding: 0.75rem 1.5rem;
    position: sticky;
    top: 0;
  }
}

.isOpen {
  height: 100vh;
  display: flex;
  flex-direction: column;
  @media (max-width: 1024px) {
    & > header {
      flex: 1;
      display: flex;
      flex-direction: column;
      background: var(--Background-offshade, #daf2e8);

      & > nav {
        flex: 1;
        display: flex;
        flex-direction: column;
      }
    }
  }
}

.wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 3.5rem;
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
}

.logo {
  overflow: hidden;
  width: auto;
  display: flex;
  max-width: 100%;
  height: 1.5rem;
  & img {
    width: auto !important;
  }

  @media (min-width: 1040px) {
    height: 1.75rem;
  }
}

.list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 100%;
}

.listMobile {
  composes: list;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.5rem;

  @media (min-width: 1024px) {
    display: none;
  }
}

.listDesktop {
  composes: list;
  display: none;

  @media (min-width: 1024px) {
    display: flex;
    flex-direction: row;
    align-items: center;
    text-wrap: nowrap;
    justify-content: center;
  }
}

.desktopLinks {
  composes: listDesktop;
  flex: 2;
  gap: 2rem;

  @media (min-width: 1200px) {
    gap: 3rem;
  }
}

.desktopCtas {
  composes: listDesktop;
  flex: 1;
  gap: 1rem;
  justify-content: flex-end;
}

.buttonsWrapper {
  display: flex;
  gap: 22px;
}

.languageAndCtaWrapper {
  display: flex;
  align-items: center;
  gap: 1.375rem;
}

.languageSettings {
  position: relative;
}

.languageButton {
  all: unset;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: var(--borderRadius-borderRadius-s, 0.5rem);
  border: 4px solid var(--Body-test, #0e3424);
  border-radius: var(--borderRadius-borderRadius-s, 0.5rem);

  color: var(--Body-test, #0e3424);

  leading-trim: both;
  text-edge: cap;

  /* Desktop/Link */
  font-family: var(--font-nunito);
  font-size: 1.25rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;

  &::after {
    content: "";
    display: block;
    width: 1.25rem;
    height: 1.25rem;
    mask: url("/_assets/globe.svg") no-repeat center;
    -webkit-mask: url("/_assets/globe.svg") no-repeat center;
    mask-size: cover;
    -webkit-mask-size: cover;
  }
}

.languageMenu {
  list-style-type: none;
  display: flex;
  margin: 0;
  padding: 0.75rem 1.375rem;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 1rem;

  position: absolute;
  top: calc(100% + 10px);
  right: -25%;

  border-radius: 0.25rem;
  background: var(--mist, #e7f4fd);

  box-shadow:
    0px 8px 18px -6px rgba(12, 153, 253, 0.12),
    0px 12px 42px -4px rgba(12, 153, 253, 0.12);
}

.languageButtonLink {
  all: unset;
  cursor: pointer;
  text-decoration: none;
  font-family: var(--font-nunito);
  font-size: 1.25rem;
  font-weight: 500;

  &:hover {
    color: var(--ocean);
  }
}

.selectedLanguage {
  composes: languageButtonLink;
  display: flex;
  gap: 6px;
  position: relative;
  &::after {
    width: 1.25rem;
    height: 1.25rem;
    content: "";
    mask: url("/_assets/check.svg") no-repeat center;
    mask-size: cover;
    -webkit-mask: url("/_assets/check.svg") no-repeat center;
    -webkit-mask-size: cover;
  }

  &:hover {
    color: var(--midnight);
    cursor: default;
  }
}

.mobileMenu {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-end;
  gap: 5rem;
  padding-top: 7.5rem;
  padding-bottom: 7.5rem;

  @media (min-width: 1024px) {
    display: none;
  }
}

/* MOBILE BUTTON */
.button {
  cursor: pointer;
  width: 2.5rem;
  height: 2.5rem;
  flex-shrink: 0;
  background-color: transparent;
  border: none;

  @media (min-width: 1024px) {
    display: none;
  }
}

.closed {
  composes: button;
  background: url("/_assets/menu.svg") no-repeat 50% 50%;
}

.open {
  composes: button;
  background: url("/_assets/menu-close.svg") no-repeat 50% 50%;
}
