.hero {
  padding-top: 2rem;
  padding-bottom: 2rem;
  gap: 1rem;
}

.eventDetails {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  margin-bottom: 1rem;
}

.date {
  color: var(--color-text-secondary);
}

.headerImage {
  width: 100%;
  margin: 2rem 0;
  border-radius: 8px;
  overflow: hidden;
}

.body {
  padding-top: 2rem;
  padding-bottom: 4rem;
}

.linkSection {
  margin-top: 2rem;
  padding-top: 2rem;
  border-top: 1px solid var(--color-border);
}
