.content {
  display: flex;
  flex-direction: column;
  gap: var(--Spacing-XXL, 3rem);
}

.textWrapper {
  display: flex;
  flex-direction: column;
  gap: var(--Spacing-S, 1rem);
  max-width: 850px;
}

.list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  align-items: flex-start;
  flex-wrap: wrap;

  @media (min-width: 1024px) {
    display: flex;
    flex-direction: row;
  }

  @media (max-width: 1024px) {
    & > li {
      width: 100%;
    }
  }
}
