.sectionWrapperRow {
  max-width: 1000px;
  margin: auto;
  padding: 5rem 1rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: var(--Spacing-XL, 3rem);

  @media (min-width: 1024px) {
    padding: 7.5rem 12rem;
  }

  @media (min-width: 640px) {
    padding: 6rem;
    flex-direction: row;
  }
}

.maxWrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: auto;
  max-width: 850px;
  color: var(--GreenElliott, #018852);
  font-weight: 700;
}
