.imagePositionLeftOnSmallerScreens {
  @media (max-width: 640px) {
    flex-direction: column-reverse;
  }
}

.image {
  position: relative;
  width: 100%;
  max-width: 500px;
  aspect-ratio: 4/3;
  overflow: hidden;

  @media (min-width: 640px) {
    width: 50%;
  }
}

.maxWrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: auto;
  max-width: 850px;
  color: var(--Teal, #018852);
  font-weight: 700;
}
