.sectionWrapperRow {
  max-width: 1000px;
  margin: auto;
  padding: 5rem 1rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: var(--Spacing-XL, 3rem);

  @media (min-width: 1024px) {
    padding: 7.5rem 12rem;
  }

  @media (min-width: 640px) {
    padding: 6rem;
    flex-direction: row;
  }
}

.imagePositionLeftOnSmallerScreens {
  @media (max-width: 640px) {
    flex-direction: column-reverse;
  }
}

.image {
  position: relative;
  width: 100%;
  max-width: 500px;
  aspect-ratio: 4/3;
  overflow: hidden;

  @media (min-width: 640px) {
    width: 50%;
  }
}

.maxWrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: auto;
  max-width: 850px;
  color: var(--Teal, #018852);
  font-weight: 700;
}
