.wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 1.375rem;
  align-self: stretch;
}

.tabList {
  list-style: none;
  margin: 0;
  padding: 0;

  display: flex;
  align-items: center;
  align-content: center;
  gap: 1rem;
  align-self: stretch;
  flex-wrap: wrap;
}

.tab {
  all: unset;
  cursor: pointer;
  display: inline-block;
  padding: 0.375rem 0.625rem;

  font-family: var(--font-nunito);
  font-size: 1;
  font-style: normal;
  font-weight: 600;
  line-height: 1;

  white-space: nowrap;

  border-radius: 0.25rem;
  border: 2px solid var(--Background-main, #eff8f6);
  background: var(--Background-main, #eff8f6);

  @media (min-width: 1024px) {
    font-size: 1.1875rem;
  }

  &:focus {
    outline: 2px solid var(--focus-color);
  }
}

.selected {
  color: var(--Background-main, #eff8f6);
  border: 2px solid var(--Teal, #018852);
  background: var(--Teal, #018852);
  cursor: default;
}
