.quickNav {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 0.75rem;
  padding: var(--Spacing-M, 1rem) var(--Spacing-L, 1.5rem);
  background-color: var(--Background-offshade, #daf2e8);
  height: fit-content;

  border-radius: 6px;

  & h3 {
    color: var(--Teal, #018852);
  }

  @media (min-width: 640px) {
    padding: 0.75rem 1rem 1rem 1rem;
  }
}

.mainLayout {
  gap: 1.5rem;
  padding: 1.5rem 3rem;
  & ul {
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    align-content: center;
    gap: var(--Spacing-M, 1rem) var(--Spacing-XL, 2rem);
    align-self: stretch;
  }
}

.anchorLinks {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 0.5rem;
}

.link {
  text-decoration: none;
  color: var(--body-text);
  font-family: var(--font-nunito);

  font-size: 1.125rem;
  font-weight: 400;
  text-decoration-line: underline;

  @media (min-width: 1024px) {
    font-size: 1.25rem;
  }
}
