.section {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.subSection {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.list {
  font-size: 1.25rem;
  font-weight: 400;

  @media (min-width: 1024px) {
    font-size: 1.5rem;
  }
  margin: 0;
}

.image {
  border-radius: 0.3125rem;
  overflow: hidden;
  margin: auto;
  width: 100%;
  min-width: 150px;
  max-width: 15rem;

  @media (min-width: 640px) {
    min-width: 240px;
    max-width: 21.25rem;
  }

  @media (min-width: 1024px) {
    max-width: 100%;
    min-height: 25rem;
  }
  & img {
    width: 100% !important;
  }
}

.blockquote {
  font-style: italic;
}

.link {
  display: inline-flex;
  flex-direction: row;
  align-items: center;
  gap: 2px;
  &::after {
    content: "";
    width: 1rem;
    height: 1rem;
    -webkit-mask: url("/_assets/external-link.svg") no-repeat center;
    mask: url("/_assets/external-link.svg") no-repeat center;
    -webkit-mask-size: 1rem 1rem;
    mask-size: 1rem 1rem;
    background-color: currentColor;
  }
}
