/* Common link styles */
.link,
.headerLink,
.footerLink {
  font-family: var(--font-nunito);
  text-decoration: none;
  line-height: 140%;
}

/* Primary link style */
.link {
  color: var(--GreenElliott, #018852);
  display: inline-flex;
  align-items: center;
  gap: 0.5rem;
  font-size: 1rem;
  font-weight: 700;
  transition: gap 100ms ease-in-out;

  &:hover {
    gap: 1rem;
    font-weight: 800;
  }

  &::after {
    content: "";
    width: 1.25rem;
    height: 1.25rem;
    -webkit-mask: url("/_assets/arrow.svg") no-repeat center;
    -webkit-mask-size: cover;
    mask: url("/_assets/arrow.svg") no-repeat center;
    mask-size: cover;
    background-color: var(--GreenElliott, #018852);
    @media (min-width: 640px) {
      width: 1.5rem;
      height: 1.5rem;
    }
  }
  @media (min-width: 640px) {
    font-size: 1.25rem;
  }
}

/* Header link style */
.headerLink {
  color: var(--Body-test, #0e3424);
  font-size: 1.25rem;
  font-weight: 700;

  &:active {
    font-weight: 800;
  }
}

/* Footer link style */
.footerLink {
  position: relative;
  color: var(--primary-white);
  font-size: 0.875rem;
  font-weight: 400;

  &:hover {
    font-weight: 500;
  }

  &:active {
    color: var(--secondary-off-white2);
  }

  &::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 1.4px;
    border-radius: 9px;
    background-color: rgb(255, 255, 255);
  }

  @media (min-width: 640px) {
    font-size: 1.125rem;
  }
}

/* States */
.selected {
  color: var(--GreenElliott, #018852);
}

.span {
  padding-bottom: 0.125rem;
}
