.textWrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.listSection {
  display: flex;
  flex-direction: column;
  align-items: flex-start;

  align-self: stretch;
  gap: 1.5rem var(--Spacing-M);
}

.list {
  --columns: 3;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-start;
  align-content: flex-start;
  gap: 1.5rem var(--Spacing-XS);
  margin: 0;
  padding: 0;
  list-style: none;
  align-self: stretch;

  @media (min-width: 640px) {
    gap: 1.5rem var(--Spacing-L);
  }
}

.listItem {
  display: flex;
  flex-direction: column;
  text-align: left;
  width: calc(50% - 0.25rem);

  gap: var(--Spacing-XS);

  @media (min-width: 640px) {
    width: calc(50% - 1rem);
  }

  @media (min-width: 1024px) {
    width: calc(100% / var(--columns) - 2rem);
  }
}

.ctaLink {
  margin-top: var(--Spacing-XS);
}

.image {
  width: 100%;
  max-width: 100%;
  height: auto;
  overflow: hidden;
  object-fit: contain;
}
