.textWrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: var(--Spacing-M, 1rem);
}

.listSection {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: var(--Spacing-L, 1.5rem);
  align-self: stretch;
}

.list {
  display: flex;
  flex-direction: column;
  gap: 1.5rem var(--Spacing-M, 1.5rem);
  margin: 0;
  padding: 0;
  list-style: none;
  align-self: stretch;

  @media (min-width: 640px) {
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-start;
    align-content: flex-start;
    gap: 1.5rem var(--Spacing-M, 1.5rem);
  }
}

.listItem {
  display: flex;
  flex-direction: column;
  gap: 1.125rem;
  text-align: left;
  width: 100%;

  gap: var(--Spacing-XS, 0.5rem);

  @media (min-width: 640px) {
    width: calc(50% - 0.75rem); /* Accounts for gap */
  }

  @media (min-width: 1024px) {
    width: calc(33.333% - 1rem); /* Accounts for gap */
  }
}

.image {
  max-width: 80%;
  height: auto;
  overflow: hidden;
  margin: auto;
  object-fit: contain;

  @media (min-width: 640px) {
    max-width: 100%;
  }
}
